*{
    margin: 0;
    padding:0;
}

html, body{
    height:100%;
}

body{
    background-color: #0e0e10;
    overflow: hidden;
}

.panel{
    -webkit-app-region: drag;
    width: 100%;
    height: 100%;
}

#close{
    position:fixed;
    right:5px;
    top:5px;
    width:30px;
    -webkit-app-region: no-drag;
    cursor:pointer;
    opacity: 50%;
}