*{
    margin:0;
    padding:0;
}

body{
    background-color: #0e0e10;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    margin-top: 20px;
}

nav{
    height:20px;
    background-color: #2a2a2a;
    padding-left:12px;
    color:white;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
}

.movement{
    -webkit-app-region: drag;
    flex:1;
}

.main_button_panel{
    display: flex;
}
.main_button_panel button{
    width: 30px;
    border: none;
    background: none;
}
.main_button_panel .minimize:hover{
    background: #3f3f3f;
}
.main_button_panel .close:hover{
    background: #eb2835;
}
.main_button_panel button img{
    width:20px;
}
.main_button_panel .minimize img{
    margin-top:4px;
}

.padding{
    padding: 20px;
    padding-top: 0px;
}

body {
    overflow: scroll;
    overflow-x: hidden;

    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    overflow: -moz-scrollbars-none; /* Older Firefox */
}
body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
body::-webkit-scrollbar-thumb {
    background: #FF0000;
}

header{
    height: 45px;
    display: flex;
    padding-top: 5px;
    padding-bottom: 15px;
    position: sticky;
    top: 20px;
    z-index: 99;
    background-color: #0e0e10;
}

label{
    color:white;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
}

#refresh{
    width:40px;
    height: 40px;
    background: none;
    border:none;
    cursor:pointer;
    margin-top:10px;
    display:block;
    position:absolute;
    right:10px;
}
#refresh:hover{
    background: none;
}
#refresh img{
    width:40px; 
    -webkit-user-drag: none;
}

#mouse {
    width:40px;
    height: 40px;
    background: none;
    border:none;
    cursor:pointer;
    margin-top:10px;
    display:block;
    position:absolute;
    right:60px;
}
#mouse:hover {
    background: none;
}
#mouse img {
    width:40px; 
    -webkit-user-drag: none;
}

#panel{
    display:flex;
    flex-wrap: wrap;
}
.panel_item{
    display:flex;
    margin:20px;
    margin-top:10px;
    align-items: center;
    user-select: none;
    cursor: pointer;
    width:310px;
    justify-content: space-between;
}
.info{
    display:flex;
    align-items: center;
}
.profile{
    border-radius: 100%;
    display: block;
    width: 7.2rem;
    height: 7.2rem;
    position: relative;
    background-color: inherit;
    padding: 0.2rem;
    border-width: 0.2rem;
    border-style: solid;
    border-color: #adadad;
    transition-property: all;
    transition-duration: 0.1s;
    -webkit-user-drag: none;
}
.panel_item:hover .profile{
    border-width: 0.35rem;
}
.name{
    margin: 0 15px 2px;
    font-size:28px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    color:#efeff1;
}
.follows{
    margin: 0 15px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    color:#efeff1;
}
.is_stream{
    display:flex;
    align-items: center;
}
.stream_circle{
    border-radius: 100%;
    width:20px;
    height:20px;
}
.stream_on{
    background-color: red;
}
.stream_off{
    background-color: gray;
}
#version{
    position:fixed;
    bottom:5px;
    left:10px;
    color:#efeff1;
    display:flex;
}
#version_num{
    margin-right:10px;
}
.developed{
    position:fixed;
    bottom:5px;
    right:10px;
    color:#efeff1;
}
a:link{
    color: #038cfc;
}

.channelPoints{
    color:#efeff1;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
}
.channelPoints span{
    margin-right: 4px;
}
.channelPoints input{
    display:none;
}
.channelPoints input + label{
    display:block;
    margin-top:1px;
    width:14px;
    height:14px;
    background-color: #0e0e10;
    border-radius: 100%;
    box-sizing: border-box;
    border: 1px solid #595966;
}
.channelPoints input:checked + label{
    background-color: #0e0e10;
}
.channelPoints input:checked + label::after{
    content:"";
    width:6px;
    height:6px;
    margin-top:3px;
    margin-left:3px;
    background-color: #2ed914;
    border-radius: 100%;
    position: absolute;
}

.alert{
    color:white;
    color:#efeff1;
    font-size: 12px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
}